html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #3e4855;
	background-color: #fff;
	line-height: 1.42857143;
}

#extended-keyword-table tr:first-child td {
  border-top: 0;
}

#external-keyword-table td, #external-keyword-table th {
	text-align: center
}

#page-content-wrapper {
float: left;
width: 100%;
position: relative;
}

#page-content {
	margin-left:260px;
}

#page-content>.container {
	margin:0;
	padding:0;
	max-width:100%;
	width:100%;
}

#extended-keyword-table-header>thead>tr>th {
	background-color: #c6d9f1;
	text-align: center;
}

#extended-keyword-table>tbody>tr>td {
	text-align: center;
}

#extended-keyword-card-container>.row>.col-xs-4 {
	padding-right: 5px;
}

#rd-contents-table {
	color: #8da9aa;
}

.reuse-table>tbody>tr>th,
.reuse-table>thead>tr>th,
.reuse-table>tbody>tr>td,
.reuse-table>thead>tr>td {
	color: #4b5056;
	border-color: #dfe8f1;
	padding: 5px;
	text-align: left;
	vertical-align: middle!important;
}

.none-hover:hover {
		background-color: #f9fafe!important;
}

.bordered-row>.form-group {
	padding: 20px 0;
	margin-bottom: 0;
}

.content-box {
	border-radius: 3px;
	border-color: #dfe8f1;
	position: relative;
	border-width: 1px;
	border-style: solid;
	background: #fff;
	margin-bottom:20px
}

.input-group {
	position: relative;
	display: table;
	width: 100%;
	border-collapse: separate;
}

.pad0L {
	padding-left: 0px!important;
}

.pad0R {
	padding-right: 0px!important;
}

.pad0B {
	padding-bottom: 0px!important;
}

.pad5A {
	padding: 5px!important;
}

.pad5T {
	padding-top: 5px!important;
}

.pad5L {
	padding-left: 5px!important;
}

.pad5R {
	padding-right: 5px!important;
}

.pad5B {
	padding-bottom: 5px!important;
}

.pad10A {
	padding: 10px!important;
}

.pad10T {
	padding-top: 10px!important;
}

.pad10B {
	padding-bottom: 10px!important;
}

.pad10R {
	padding-right: 10px!important;
}

.pad15L {
	padding-left: 15px!important;
}

.pad15R {
	padding-right: 15px!important;
}

.pad60L {
	padding-left: 60px!important;
}

.pad70L {
	padding-left: 70px!important;
}

.pad80L {
	padding-left: 80px!important;
}

.pad100L {
	padding-left: 100px!important;
}

.mar0B {
	margin-bottom: 0px!important;
}

.mar5B {
	margin-bottom: 5px!important;
}

.mar5R {
	margin-right: 5px!important;
}

.mar10T {
	margin-top: 10px!important;
}

.mar10B {
	margin-bottom: 10px!important;
}

.mar10R {
	margin-right: 10px!important;
}

.mar10L {
	margin-left: 10px!important;
}

.mar15R {
	margin-right: 15px!important;
}

.mar20T {
	margin-top: 20px!important;
}

.wid15 {
	width:15%;
}

.wid20 {
	width:20%;
}

.wid25 {
	width:25%;
}

.wid30 {
	width:30%;
}

.wid35 {
	width:35%;
}

.wid65 {
	width:65%;
}

.wid70 {
	width:70%;
}

.wid85 {
	width:85%;
}

.button-panel {
	padding: 10px;
	text-align:center;
	border: 0;
}

.border-container {
	width:100%;
	border-radius: 7px;
	border: 1px solid #c5c5c5;
	background-color: #f9fafe;
	margin-bottom: 10px;
}

.relatum-keyword-container {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	max-width: 100%;
    overflow-x: hidden;
}

.relatum-card-container {
	width: 100%;
	height: 286px;
	overflow-y: scroll;
	max-width: 100%;
    overflow-x: hidden;
	padding-top: 10px;
}

.relatum-grid-container {
	width: 100%;
	height: 286px;
	overflow-y: scroll;
	max-width: 100%;
    overflow-x: hidden;
	padding-left: 15px;
	padding-top: 10px;
}

.divider {
	background: #dfe8f1;
	overflow: hidden;
	height: 1px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.item-center {
	float: center;
}

.right {
	float: right;
	text-align: right;
}

.changeBtn {
	cursor: pointer;
}

.rd-list-title {
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.rd-list-title:hover {
	text-decoration: underline;
}

.rd-list-container {
	width: 100%;
	height: 500px;
	padding: 15px;
	overflow-y: auto;
}

.rd-cotent {
	font-size: 14px;
}

.rd-list-page-number {
	cursor: pointer;
	margin-right:5px;
}

.rd-list-page-number:hover {
	text-decoration: underline;
}

.form-horizontal .control-label {
	padding-top:0;
}

.cardspan-title {
	display: block;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;
}

.cardspan {
	border-radius: 3px; 
	border: 1px solid #26A; 
	background-color: #FFF; 
	padding: 5px 10px 5px 10px; 
	text-align: center;
	min-height: 50px;
	max-height: 50px;
	cursor: pointer;
}

.grid-cardspan {
	border-radius: 3px; 
	border: 1px solid #26A; 
	background-color: #FFF; 
	padding: 5px 10px 5px 10px; 
	text-align: center;
	min-height: 50px;
	max-height: 50px;
	cursor: pointer;
	margin-bottom: 10px;
}

.grid-cardspan:hover {
	background-color: #CDF;
}

.cardspan:hover {
	background-color: #CDF;
}

.card-click-color {
	background-color: #CDF;
}

.ui-dialog .ui-dialog-content {
	padding: .5em .5em!important;
}

.ui-widget-header {
	background-color: #dce6f2;
	margin: 0em;
}

.ui-widget-content {
	border-radius: 7px!important;
}

.search-dialog-container {
	width:100%;
	border-radius: 7px;
	border: 1px solid #c5c5c5;
	margin-top: 30px;
	padding: 10px 0px 0px 0px ;
}

.selected-keyword {
	cursor: pointer;
	padding: 5px 0px 5px 10px;
	margin-right: 10px;
	text-align: center;
}

.card-grid {
	display: grid;
    grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(25px, 1fr) ) ;
	background-color: #fff;
	grid-auto-rows: min-content;
}

.grid-1 {
	grid-column: auto / span 1;
}

.grid-2 {
	grid-column: auto / span 2;
}

.grid-3 {
	grid-column: auto / span 3;
}

.grid-4 {
	grid-column: auto / span 4;
}

.grid-5 {
	grid-column: auto / span 5;
}

.grid-6 {
	grid-column: auto / span 6;
}

.grid-7 {
	grid-column: auto / span 7;
}

.grid-8 {
	grid-column: auto / span 8;
}

.grid-9 {
	grid-column: auto / span 9;
}

.comment-list-container {
	width: 100%;
	height: 290px;
	overflow-y: auto;
	background-color:#fff;
	border-radius: 7px;
}

.selected-rd-list-container {
	width: 100%;
	height: 156px;
	overflow-y: auto;
	background-color:#fff;
}

.comment-add-list-container {
	width: 100%;
	height:300px;
	overflow-y: auto;
	background-color:#fff;
	border-radius: 7px;
}

.table-bottom-line {
	border-top: 0;
	border-bottom: 1px solid #dfe8f1
}

.rd-contents-container {
	width: 100%;
	height: 315px;
	overflow-y: auto;
	background-color:#fff;
	border-radius: 7px;
}

.importer-button-panel-header {
	padding-top: 5px;
	margin-right: 10px;
	font-weight: bold;
	color: #000;
}

.importer-button-panel {
	padding: 5px;
	text-align: center;
}

.reuse-importer-container {
	width: 100%;
}

.quality-table-header {
	height: 40px;
	padding: 10px;
	border-bottom: 2px solid #dfe8f1;
	color: #000;
	font-weight: bold;
	font-size: 15px;
}
.importer-table-header {
	height: 50px;
	padding: 10px;
	border-bottom: 2px solid #dfe8f1;
	color: #000;
	font-weight: bold;
	font-size: 17px;
}


.none-border-top>th,
.none-border-top>td {
	border-top: 0!important;
}